section.brands > div {
    position: relative;
  }
  
  .brands div img::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: -7px;
    width: 10px;
    background-color: black;
  }

  .brand-image {
  height: 40px;
  width: auto;
}

