:root {
  --orange-color: #ff9500;
  --orange-50: #ff9500;
  --light-orange-color: #fff4e5;
  --bg-color: #f7f7f8;
  --grey-40: #656567;
  --grey-35: #59595a;
  --grey-30: #4c4c4d;
  --grey-20: #333333;
  --grey-15: #262626;
  --white-99: #fcfcfd;
  --white-95: #f1f1f3;
  --white-97: #f7f7f8;
  --orange-90: #ffeacc;
  --orange-95: #fff4e5;
  --orange-97: #fff9f0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 !important;
  padding: 0;
  font-family: "Be Vietnam Pro", sans-serif !important;
  background-color: var(--white-97) !important;
  color: var(--grey-15);
}

::selection {
  background-color: var(--orange-color);
  color: white;
}
